# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\javacode\smartpos-git-oversea20171207\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
